<div class="panel panel-default">
    <div class="panel-body">
      <div>
        <label class="jumbotron">
          <span class="glyphicon glyphicon-envelope" style="font-size: 20px"></span> Email Address
        </label><span class="h4"> {{email}}</span>
      </div>
      <div>
        <label class="jumbotron">
          <span class="glyphicon glyphicon-home" style="font-size: 20px"></span> Postal Address
        </label> <span class="h4">{{address}}</span>
      </div>
      <div>
        <label class="jumbotron">
          <span class="glyphicon glyphicon-earphone" style="font-size: 20px"></span> Telephone Number
        </label> <span class="h4">{{primaryTelNo + ' (Preferred)'}}</span>
      </div>
      <div>
        <label class="jumbotron">
          <span class="glyphicon glyphicon-earphone" style="font-size: 20px"></span> Telephone Number
        </label> <span class="h4">{{secondaryTelNo}}</span>
      </div>
    </div>
</div>
