<div class="container" style="padding-top: 40px">
  <div>
    <span class="glyphicon glyphicon-search" style="font-size: 20px" aria-hidden="true"></span>
    <span class="h3">Customer Search</span>
    <br><br>
    <div class="row">
      <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
        <input [(ngModel)]="dn" class="form-control" type="text" placeholder="enter dn" ></div>
      <div>
        <button (click)="searchDn()" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find</button>
      </div>
    </div>
  </div>
  <br>
  <div>
    <app-customer></app-customer>
  </div>
</div>


